
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: #f5f7fa;
}

h1 {
  color: #2c3e50;
  margin-bottom: 20px;
}


button {
  padding: 8px 15px;
  border: none;
  background: #26ae1a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:disabled {
  background: #cccccc;
  cursor: not-allowed;
}
