.home-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin-left: 900px;
}

.home-title {
  text-align: center;
  margin-top: -30px;
  margin-bottom: 20px;
  font-size: 26px;
  color: #333;
}
.logout-btn {
  margin-top: 50px; 
  background-color: #313234;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  
}

.logout-btn:hover {
  background-color: #1a56d4;
}
